a {
    color: green;
}
.lingid{
	color: #443B7D; 
	font-size: 16px; 
	font-family: Comic Sans MS; 
}
.valitud{
	color: #443B7D; 
	font-size: 16px; 
	font-family: Comic Sans MS; 
	text-transform: uppercase;
}